*{
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

#gridContainer {
    display: grid;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    grid-template-areas: "header" "main" "footer" ;
    
}
/* headersection */


header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    grid-area: header;
    width: 100%;
    background-color: #ffebeb;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

header #ShoeStore{
    margin-left: 0%;
    font-size: 18px;
    height: 35px;
}

header h1 a{
    text-decoration: none;
    color: black;
}

img{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#HamburgerMenu{
    background: #ffebeb;
}

button, #HamburgerMenu{
    margin: 0;
    padding: 0%;
}

.hamburgermenu{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px; 
    color: #000; 
    margin-right: 10px;
    margin-top: auto;
    
}

.hamburgernav{
    position: fixed;
    top: 0px;
    margin-left: 125px;
    background-color: #ff0000;
    display: none;
    list-style: none;
    padding: 20px;
    text-decoration: underline;
}

.hamburgernav a{
    color: #ffffff;
    text-decoration: underline;
    display: inline-block;
    padding: 5px;
}

#hambur {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#header-container {
    display: flex;
    align-items: center;
}

#nav-icons {
    position: fixed;
    top: 22px;
    right: 0;
    padding: 1rem; 
    display: flex;
    list-style: none;
    font-size: 18px;
    margin-right: 10px;
}

.nav-icon {
    list-style: none;
    padding: 0;
    display: flex; 
    gap: 15px;
}

.nav-icon li {
    margin: 0 10px; 
}

nav i {
    margin-right: 10px; 
}

#category{
    list-style: none;
    padding: 10px; 
    display: flex;
    justify-content: left;
}

#category a{
    text-decoration: none;
    width: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 1rem;
    background-color: lightgray;
}

#category li{
    margin: 0 3px;
    display: inline; 
}

#category ul{
    padding-left: 0;
}

/* hovedområde */

#product-flex{
    display: grid;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.new-arrival img{
    height: 70%;
    width: 70%;
    margin: 0;
}

.double{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1rem;
}

.bilde1, .bilde2{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.bilde1 img{
    max-width: 100%; 
    height: auto; 

}

.bilde2 img{
    max-width: 100%; 
    height: auto; 
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

#head-sign-up {
    font-size: 24px;
    font-weight: bold;
}

#benefitH2 {
    text-align: center;
}

.register-button {
    background-color: #00ff00;
}

.benefits {
    text-align: left;
    margin: 20px 0;
}

#LOGIN {
    padding: 1rem;
}

hr {
    width: 50%;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

main{
    grid-area: main;
    
}

#Sign-up {
    display: flex;
    justify-content: center;
}

main h1 {
    text-align: center;
    margin-top: 20px;
}

#velkommen{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly; 
}

#velkommenbilde{
    width: 50%;
    height: 50%;
}

#productto {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin-top: 2rem;
    gap: 10%;
}

#hostsko{
    text-align: center;
    margin-left: 200px;
}

#productto img {
    max-width: 100%; 
    height: auto; 
}

#producttext{
    display: flex;
}

.producttext p a{
    text-decoration: none;
    color: black;
}

#producttext2{
    flex-direction: row;
}

#producttext3{
    flex-direction: row;
}


 .bilder4{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    gap: 1rem;
    text-align: center;
} 

.column1{
    display: flex;
    flex-direction: column;
}

.tocolumns .column1 p {
    text-align: center;
    padding: 0;
    width: 50%;
    height: 50%;
    margin-left: 40px;
}

.column2{
    display: flex;
    flex-direction: column;
}

#bilder4to{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 50%;
    gap: 1rem;
}

.column3{
    display: flex;
    flex-direction: column;
}

.column4{
    display: flex;
    flex-direction: column;
}

.skillevegg{
    width: 5px;
    background-color: black;
    border:none;
}

#allebilder{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;

}

#allebilder img{
    margin: 10px;
    max-width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
}


#ourproducts{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 42px;
}

#productbottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    gap: 1rem;
  
}

#productbottom section{
    
    flex-direction: column;
    text-align: center;
   
}

#productbottom img {
    max-width: 100%;
    height: auto;
}

#newarrivals{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#foreveryone{
    display: flex;
    flex-direction: column;
}

.tocolumns{
    display: flex;
    flex-direction: row;
    padding: 0;
}

#nyhetsbrev { 
    background-color: #86ddf3;
}

product p {
    font-size: 14px;
}

button {
    background: #000000;
    color: #fff;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    
}

.desktop, .desktopproduct {
    display: none;
}

#rad4, #rad4to{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 1rem;
    max-width: 100%;
    height: auto;
}

#rad4 img,
#rad4to img {
    max-width: 100%; 
    height: auto; 
}

#desktop{
    display: flex;
    flex-direction: column;
}

form select{
width: 8%;
margin-left: 15%;
font-size: 14px;
margin-bottom: 20px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

#ourmission h2{
    background-color: #5c5b5b;
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    text-align: center;
    margin-top: 60px;
}

#hovedtekst{
background-color: #787878;
padding: 1rem;
color: rgb(255, 255, 255);
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
text-align: center;
}

/* Footer område */

#nyheter{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    grid-area: footer;
    text-align: center;
    margin-top: auto;

}

footer section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 1rem;
}
  

@media only screen and (min-width: 700px) {
    .mobile {
        display: none !important; 
    }

    .desktop {
        display: block !important; 
    }


}

@media only screen and (min-width: 700px){

    .mobileproduct {
        display: none !important; 
    }

    .desktopproduct {
        display: block !important; 
    }
}

/* Analyse.html */
#statestikk{
    display: flex;
    flex-direction: column;
    margin: auto;
}

#statestikk p{
    font-size: 28px;
}

#statestikk img{
    display: flex;
    flex-direction: column;
    max-width: 80%; 
    height: 80%;
    margin: auto;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}



#analyse{
    display: flex;
    flex-direction:column;
    margin: auto;
}

#analyse img, p{
    display: flex;
    flex-direction: column;
    max-width: 80%; 
    margin: auto;
    margin-bottom: 1rem;
}

#statestikk p{
    font-size: 24px;
}

#statestikk span{
    font-size: 18px;
    text-align: center;
}

#hvorfor {
    font-size: 20;
    text-align: center;
    margin: auto;
    padding-bottom: 1rem;
}

#WEBAIM{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
    text-align: center;
}

#WEBAIM img{
    margin: auto;
    gap: 1rem;
}

.header-analyse{
    margin-left: 1rem;
}

.analyse-tekst{
    font-size: 20px;
}

#SEO{
     display: flex;
    flex-direction: row;
}

#SEO p{
    text-align: center;
}

#SEO img{
    text-align: center;
    margin-left: 60px;
    gap: 1rem;
    height: 80%;
    width: 400px;
}

#tabell-header{
    padding-top: 2rem;
    margin-left: 1rem;
}

#tabell{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#tabell th{
    padding: 0 12rem;
    /* padding-left: 12rem;
    padding-right: 12rem; */
    font-size: 24px;
    margin: auto;
}

#tabell td{
    text-align: center;
}

#webaim-analyse img{
    width: 60%;
    height: 60%;
}

.oppsummering{
    font-size: 16px;
}
